
<h1>Weather Report</h1>
<div class="row">
<div class="card col-md-3 mx-auto my-5" style="width: 18rem;" *ngFor="let list of Weather; let index=i">
  <h5 class="card-title">{{list.name}}</h5>
  <img class="card-img-top" style="width: 300px; height: 200px;" [src]="list.flag" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Capital : {{list.capital}}</p>
    <p class="card-text">LatLong : {{list.latlng}}</p>
    <p class="card-text">Region : {{list.region}}</p>
    <ng-template #popContent>The weather for {{list.name}} is <b>{{celsius}}</b>*C</ng-template>
    <button type="button" class="btn btn-primary" (click)="getweather(list.latlng[0],list.latlng[1])" [ngbPopover]="popContent">Weather Report</button>
  </div>
</div>
</div>
